@font-face {
    font-family: Roboto;
    src: url('./fonts/roboto-variable.ttf');
    font-weight: 250;
}

@font-face {
    font-family: RobotoMono;
    src: url('./fonts/roboto-mono.ttf');
    font-weight: initial;
}
