---
---
@import "minima";

.bio {
    width: 100%;

    .image {
        float: left;
        width: 35%;
        margin: 1rem;
        padding-right: 1rem;
        margin: 0;
    }

    .text {
        margin: 0;
    }
}

ul.social-media-list {
    li {
        display: inline-block;
    }
    span.username {
        display: none;
    }
}
